html,
body {
  height: 100%;
  margin: 0;
  padding: 0; 
}

/* .map-container {
    height: 100%; 
} */

/* #map {
    height: 300px;
    width: 450px;
    margin: 0 auto;
} */

#map{
    height: 100%;
    width:100%;
}
.map-container {
    height:200px;
    width:100%;
    position: absolute; 
}